.dropdown-category-starbuyer-container {
  .dropdown-header {
    display: flex;
    justify-content: space-between;
    height: 40px;

    cursor: pointer;
    &:hover {
      color: #fd7e14;
    }

    .categoryName {
      // font-size: 12rem;
      font-weight: 400;
      font-size: 13rem;
      line-height: 22px;
    }

    .icon {
      font-size: 13rem;
      margin-top: 16px;
    }
  }

  .children-category {
    padding-left: 24px;
    .categoryName {
      font-size: 13rem;
      cursor: pointer;
      &:hover {
        color: #fd7e14;
      }
    }
  }
}
