.content-category-starbuyer-container {
  .banner {
    background-image: url('https://prtimes.jp/i/20761/14/resize/d20761-14-227809-5.jpg');
    // background-size: cover;
    // background-position: center;
    height: 400px;
  }
  margin-top: 20px;
}
