.sidebar-product-starbuyer-container {
  padding: 18px 22px;

  .category-name {
    font-size: 18px;
    // font-weight: 600;
    margin-bottom: 20px;
  }
  .dropdown-category-container {
    .active {
      color: #fd7e14;
    }
  }
}
