.text-custom {
  cursor: pointer;
  &:hover {
    color: #fd7e14;
  }
}
.text-bold {
  font-weight: bold;
}

.d-flex {
  display: flex;
}
.j-center {
  justify-content: center;
  align-items: center;
}

.m-bottom-20 {
  margin-bottom: 20px;
}

.comming-soon-container {
  background: url("https://media.istockphoto.com/id/1417634132/vector/coming-soon-banner-isolated-design-template.jpg?s=612x612&w=0&k=20&c=0zIBt51-yeSnSaLV4mew51IzMDM6zSadtZpXZHEoaDo=");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;

}
