.main-header-container {
  height:90rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1rem solid #c3c3c3;
  padding: 0rem 17rem !important;
  background-color: #fd7e14;

  .brand-name {
    font-family: "Outfit", sans-serif;
    color: white;
    width: 100px;
    font-size: 16rem;
  }

  @media (min-width: 576px) {
    .header {
      max-width: 540px;
    }
  }

  @media (min-width: 768px) {
    .header {
      max-width: 720px;
    }
  }

  @media (min-width: 992px) {
    .header {
      max-width: 960px;
    }
  }

  @media (min-width: 1200px) {
    .header {
      max-width: 1200px;
    }
  }

  .header-search {
    display: flex;
    .select-custom {
      background: #fafafa;
      border: none;
      padding: 10px 15px;
      border-radius: 10px 0 0 10px;
      border-right: 0;
      height: 50px;
      &:focus {
        outline: none;
      }
    }

    .input-custom {
      border: none;
      flex: 1;
      padding: 10px;
      height: 30px;
      // min-width: 400px;
      font-size: 14px;
      &:focus {
        outline: none;
      }
    }
    .button-custom {
      &:focus {
        outline: none;
      }
      cursor: pointer;
      background: transparent;
      border: none;
      background-color: white;
      // width: 60px;
      height: 50px;
      border-radius: 0px 10px 10px 0px;
    }
  }

  .header-right {
    margin-left: 10px;
    justify-content: space-between;
    align-items: center;
  }
}
