.content-category-container {
  .banner {
    background-image: url("https://member.brand-auc.com/images/ogp.png");
    background-size: cover;
    background-position: center;
    height: 300px;
  }
}
