html {
  font-size: 1.2px;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: var(--overall-font);
  /* font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji"; */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222222;
  line-height: 1.5;
}
